{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'About Us - Tiksss.com' %}{% endblock %}
{% block desc %}
<meta name="description" content="{% trans 'In this page we have added some useful info about our website Tiksss.com. If you have any question regarding this than kindly let us know. Thanks.' %}" />
{% endblock %}
{% block body %}
    <!-- Privacy Section -->
    <div class="privacy__container_2">
        <h1>{% trans 'About US' %}</h1>
        <p><b>Tiksss.com</b> {% trans 'is an amazing popular' %} <b>Tiktok to Mp4 Video Downloader</b> {% trans 'tool that allows users from different regions to download and convert TikTok videos online free.' %}</p>
        <p>{% trans 'Our platform supports different type of TikTok video converting tools like, TikTok to Mp4, Mp3, Video Cutter, and downloads TikTok videos without watermark or with watermark in just few seconds which you can view here in our website' %} <b>Tiksss.com.</b></p>
        <h1>{% trans 'Why Tiksss.com' %}</h1>
        <p>{% trans 'Our tool design is very unique and simple. We made this tool for customers and users purpose only. It’s very fast, easy, and safe for everyone to use in your daily life routine even if you are a content creator. This tool helps you a lot and save your time for sure. Tiksss is always here and ready to help you out if you facing any problem. If you have any queries then kindly contact us over here:' %} <b>HelloTiksss@gmail.com</b>
        </p>
    </div>
   

  {% endblock %}
