{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'TikTok To Mp3 Converter Online Free - Tiksss.com' %}{% endblock %}
{% block desc %}<meta name="description" content="{% trans 'TikTok To Mp3 Converter Online Free on our website Tiksss.com. Its Our Fastest Tool to Convert Tiktok Videos to Mp3 Format for Tiktok Lovers which is totally free.' %}" /> {% endblock %}
{% block body %}
  <!-- Hero Section -->
  <div class="hero" id="home">
    <div class="hero__container">
      <h1 class="hero__heading">YOUR <span>Tiktok Video Cutter</span> Download Link</h1>
      <!-- <p class="hero__description">Enter the URL Here</p> -->
      <div class="main__content">
        <button class="main__btn"><a href="{% url 'downloadlink3'  %}">Trim Download</a></button><br><br><br>
        <button class="main__btn"><a href="{% url 'cutter'  %}">Back</a></button><br>
      </div>
    </div>
   
  </div>


{% endblock %}