{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Privacy Policy - Tiksss.com' %}{% endblock %}
{% block desc %}
<meta name="description" content="{% trans 'In this page we have added some useful info about our website Tiksss.com Privacy Policy. If you have any question regarding this than kindly let us know. Thanks.' %}" />
{% endblock %}
{% block body %}
<!-- Privacy Section -->
<div class="privacy__container_1">
    <h1> {% trans 'Privacy Policy' %} </h1>
    <ol>
        <li>
            <p>{% trans 'By using' %} <b>Tiksss.com</b>{% trans 'you signify your agreement to follow all the privacy policy set forth on this page:' %} </p>
        </li>
        <li>
            <p>{% trans 'This Website does not collect personally identifiable information from your computer when you browse the Website and request pages from our servers. This means that, unless you voluntarily and knowingly provide us with personally identifiable information, we will not know your name, your e-mail address, or any other personally identifiable information.' %}</p>
        </li>
        <li>
            <p>{% trans 'When you request a page from our Website, our servers log the information provided in the HTTP request header, JavaScript or similar technical tools, including the IP number, the time of the request, the URL of your request and other information. We collect this information in order to make our Website function correctly and provide you the functionality that you see on the Website, as our servers use this information to deliver to you the pages on this Website. We also use this information to better understand how visitors use our Website and how we can better tune our Website, its contents and functionality to meet your needs. However, this information is not associated with any personally identifiable information of persons browsing the Website.' %}</p>
        </li>
        <li>
            <p>{% trans 'We use Google Analytics cookies to understand and save your preferences for future visits. Cookies are small files that a site or its service provider transfers to your computers hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information)' %}.</p>
        </li>
        <li>
            <p>{% trans 'Some of the advertisements you see on the Site are selected and delivered by third parties, such as ad networks, advertising agencies, advertisers, and audience segment providers. These third parties may collect information about you and your online activities, either on the Site or on other websites, through cookies, web beacons, and other technologies in an effort to understand your interests and deliver to you advertisements that are tailored to your interests. The information practices of these third parties are not covered by this privacy policy' %}.</p>
        </li>
        <li>
            <p>{% trans 'We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses' %}.</p>
        </li>
        <li>
            <p>{% trans 'Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites' %}.</p>
        </li>
        <li>
            <p>{% trans 'Changes to our Privacy Policy. If we decide to change our privacy policy, we will post those changes on this page' %}.</p>
        </li>
    </ol>
    <h1>{% trans 'TIKSSS Video Downloader' %}</h1>
    <p><b>{% trans 'TIK built the TIKSSS Mp4 Video Downloader for TikTok</b> app as an Ad Supported app. This SERVICE is provided by TIKsss at no cost and is intended for use as is' %}.</p>
    <p>{% trans 'This page is used to inform visitors regarding our policies with the collection, use, and disclosure of Personal Information if anyone decided to use our Service' %}.</p>
    <p>{% trans 'If you choose to use our Service, then you agree to the collection and use of information in relation to this policy. The Personal Information that we collect is used for providing and improving the Service. We will not use or share your information with anyone except as described in this Privacy Policy' %}.</p>
    <p>{% trans 'The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is accessible at TIKSSS Video Downloader and Mp3 Converter for TikTok unless otherwise defined in this Privacy Policy' %}.</p>
    <h3>{% trans 'Information we collect' %}</h3>
    <p>{% trans 'The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information' %}.</p>
    <p>{% trans 'If you contact us directly, we may receive additional information about you such as your name, email address, phone number, and the contents of the message and/or attachments you may send us, and any other information you may choose to provide' %}.</p>
    <p>{% trans 'When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.' %}</p>
    <h3>{% trans 'Log Data' %}</h3>
    <p>{% trans 'we want to inform you that whenever you use our Service, in a case of an error in the app we collect data and information (through third party products) on your phone called Log Data. This Log Data may include information such as your device Internet Protocol ("IP") address, device name, operating system version, the configuration of the app when utilizing our Service, the time and date of your use of the Service, and other statistics' %}.
    </p>
    <h3>{% trans 'Cookies' %}</h3>
    <p>{% trans "Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers. These are sent to your browser from the websites that you visit and are stored on your device's internal memory" %}.</p>
    <p>{% trans 'This Service does not use these "cookies" explicitly. However, the app may use third party code and libraries that use "cookies" to collect information and improve their services. You have the option to either accept or refuse these cookies and know when a cookie is being sent to your device. If you choose to refuse our cookies, you may not be able to use some portions of this Service.' %}</p>
    <h3>{% trans 'Service Providers' %}</h3>
    <p>{% trans 'We may employ third-party companies and individuals due to the following reasons:' %}</p>
    <ol>
        <li>
            <p>{% trans 'To facilitate our Service' %};</p>
        </li>
        <li>
            <p>{% trans 'To provide the Service on our behalf' %};</p>
        </li>
        <li>
            <p>{% trans 'To perform Service-related services; or' %}</p>
        </li>
        <li>
            <p>{% trans 'To assist us in analyzing how our Service is used.' %}</p>
        </li>
    </ol>
    <p>{% trans 'We want to inform users of this Service that these third parties have access to your Personal Information. The reason is to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose.' %}</p>
    <h3>{% trans 'Security' %}</h3>
    <p>{% trans 'We value your trust in providing us your Personal Information, thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.' %}</p>
    <h3>{% trans 'Links to Other Sites' %}</h3>
    <p>{% trans 'This Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of these websites. we have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.' %}</p>
    <h3>{% trans "Children's Privacy" %}</h3>
    <p>{% trans 'These Services do not address anyone under the age of 13. we do not knowingly collect personally identifiable information from children under 13. In the case we discover that a child under 13 has provided us with personal information, we immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us so that we will be able to do necessary actions.' %}</p>
    <h3>{% trans 'Google Double-Click DART Cookie' %}</h3>
    <p>{% trans 'Google is one of a third-party vendor on our site. It also uses cookies, known as DART cookies, to serve ads to our site visitors based upon their visit to www.website.com and other sites on the internet. However, visitors may choose to decline the use of DART cookies by visiting the Google ad and content network Privacy Policy at the following URL – ' %}<a
            href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a></p>
    <h3>{% trans 'Our Advertising Partners' %}</h3>
    <p>{% trans 'Our Advertising Partners Some of advertisers on our site may use cookies and web beacons. Our advertising partners are listed below. Each of our advertising partners has their own Privacy Policy for their policies on user data. For easier access, we hyperlinked to their Privacy Policies below.' %}</p>
    <p>Google <a href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a>
    </p>
    <h3>{% trans 'Changes to This Privacy Policy' %}</h3>
    <p>{% trans 'We may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page.' %}
    </p>
    <h3>{% trans 'Advertising Partners Privacy Policies' %}</h3>
    <p>{% trans "You may consult this list to find the Privacy Policy for each of the advertising partners of qload.info. Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on qload.info, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit. Note that qload.info has no access to or control over these cookies that are used by third-party advertisers." %}
    </p>
    <h3>{% trans 'Third Party Privacy Policies' %}</h3>
    <p>{% trans "qload.info's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. You may find a complete list of these Privacy Policies and their links here: Privacy Policy Links. You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites. What Are Cookies?" %}</p>
    <h3>{% trans 'CCPA Privacy Rights (Do Not Sell My Personal Information)' %}</h3>
    <p>{% trans 'Under the CCPA, among other rights, California consumers have the right to:' %}</p>
    <p>{% trans "Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers." %}</p>
    <p>{% trans 'Request that a business delete any personal data about the consumer that a business has collected.' %}
    </p>
    <p>{% trans "Request that a business that sells a consumer's personal data, not sell the consumer's personal data." %}</p>
    <p>{% trans 'If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us' %}.</p>
    <h3>{% trans 'GDPR Data Protection Rights' %}</h3>
    <p>{% trans 'We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:' %}</p>
    <p>{% trans 'The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.' %}</p>
    <p>{% trans 'The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.' %}</p>
    <p>{% trans 'he right to erasure – You have the right to request that we erase your personal data, under certain conditions. The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.' %}</p>
    <p>{% trans 'The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.' %}</p>
    <p>{% trans 'The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.' %}</p>
    <p>{% trans 'If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.' %}</p>
</div>


{% endblock %}
<b></b>