{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Terms of Services - Tiksss.com' %}{% endblock %}
{% block desc %}
<meta name="description" content="{% trans 'In this page we have added some useful info about our website Tiksss.com Terms and Services. If you have any question regarding this than kindly let us know. Thanks.' %}" />
{% endblock %}
{% block body %}
<!-- Privacy Section -->
<div class="privacy__container_1">
    <h1>{% trans 'Terms and Conditions' %}</h1>
    <p>{% trans 'Welcome to' %} <b>TIKSSS.COM!</b></p>
    <p>{% trans 'These terms and conditions outline the rules and regulations for the use of Tiksss.com Website, located at' %} <a href="https://Tiksss.com/">https://Tiksss.com/</a> </p>
    <p>{% trans 'By accessing this website we assume you accept these terms and conditions. Do not continue to use Tiksss.com if you do not agree to take all of the terms and conditions stated on this page.' %}</p>
    <p>{% trans 'The following terminology applies to these Terms and Conditions, Privacy Statement and Discla Notice and all Agreements: "Client", "You" and "Your" refers to you, the person log on this website compliant to the Company’s terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers to Company. "Party", "Parties", or "Us", refers to both the Client and ourselves. All terms refer to the of acceptance and consideration of payment necessary to undertake the process of our assistance to the Clien the most appropriate manner for the express purpose of meeting the Client’s needs in respect of provision of Company’s stated services, in accordance with and subject to, prevailing law of Netherlands. Any use of above terminology or other words in the singular, plural, capitalization and/or he/she or they, are take interchangeable and therefore as referring to same.' %}</p>
    <h3>{% trans 'Cookies' %}:</h3>
    <p>{% trans 'We employ the use of cookies. By accessing Tiksss.com, you agreed to use cookies in agreement  the Tiksss.com Privacy Policy' %}.</p>
    <p>{% trans 'Most interactive websites use cookies to let us retrieve the user’s details for each visit. Coo are used by our website to enable the functionality of certain areas to make it easier for people visiting website. Some of our affiliate/advertising partners may also use cookies' %}.</p>
    <h3>{% trans 'License' %}:</h3>
    <p>{% trans 'Unless otherwise stated, Tiksss.com and/or its licensors own the intellectual property rights all material on Tiksss.com. All intellectual property rights are reserved. You may access this from Tiksss for your own personal use subjected to restrictions set in these terms and conditions' %}.</p>
    <p>{% trans 'You must not' %}:</p>
    <ol>
        <li>
            <p>{% trans 'Republish material from Tiksss.com' %}</p>
        </li>
        <li>
            <p>{% trans 'Sell, rent or sub-license material from Tiksss.com' %}</p>
        </li>
        <li>
            <p>{% trans 'Reproduce, duplicate or copy material from Tiksss.com' %}</p>
        </li>
        <li>
            <p>{% trans 'Redistribute content from Tiksss.com' %}</p>
        </li>
    </ol>
    <p>{% trans 'This Agreement shall begin on the date hereof.' %}</p>
    <p>{% trans 'Parts of this website offer an opportunity for users to post and exchange opinions and informa in certain areas of the website. Tiksss.com does not filter, edit, publish or review Comments prior to t presence on the website. Comments do not reflect the views and opinions of Tiksss.com, its agents an affiliates. Comments reflect the views and opinions of the person who post their views and opinions. To extent permitted by applicable laws, Tiksss.com shall not be liable for the Comments or for any liabil damages or expenses caused and/or suffered as a result of any use of and/or posting of and/or appearance of Comments on this website.' %}</p>
    <p>{% trans 'Tiksss.com reserves the right to monitor all Comments and to remove any Comments which ca considered inappropriate, offensive or causes breach of these Terms and Conditions.' %}</p>
    <p>{% trans 'You warrant and represent that:' %}</p>
    <ol>
        <li>
            <p>{% trans 'You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;' %}</p>
        </li>
        <li>
            <p>{% trans 'The Comments do not invade any intellectual property right, including without limitation copyright, patent or trademark of any third party;' %}</p>
        </li>
        <li>
            <p>{% trans 'The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material which is an invasion of privacy' %}</p>
        </li>
        <li>
            <p>{% trans 'The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.' %}</p>
        </li>
    </ol>
    <p>{% trans 'You hereby grant Tiksss.com a non-exclusive license to use, reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.' %}</p>
    <h3>{% trans 'Hyper linking to our Content' %}:</h3>
    <p>{% trans 'The following organizations may link to our Website without prior written approval' %}:</p>
    <ol>
        <li>
            <p>{% trans 'Government agencies' %};</p>
        </li>
        <li>
            <p>{% trans 'Search engines' %};</p>
        </li>
        <li>
            <p>{% trans 'News organizations' %};</p>
        </li>
        <li>
            <p>{% trans 'Online directory distributors may link to our Website in the same manner as they hyperlink to the Websites of other listed businesses; and' %}</p>
        </li>
        <li>
            <p>{% trans 'System wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our Web site.' %}</p>
        </li>
    </ol>
    <p>{% trans 'These organizations may link to our home page, to publications or to other Website information so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products and/or services; and (c) fits within the context of the linking party’s site.' %}</p>
    <p>{% trans 'We may consider and approve other link requests from the following types of organizations' %}:</p>
    <ol>
        <li>
            <p>{% trans 'commonly-known consumer and/or business information sources' %};</p>
        </li>
        <li>
            <p>{% trans 'dot.com community sites' %};</p>
        </li>
        <li>
            <p>{% trans 'associations or other groups representing charities' %};</p>
        </li>
        <li>
            <p>{% trans 'online directory distributors' %};</p>
        </li>
        <li>
            <p>{% trans 'internet portals' %};</p>
        </li>
        <li>
            <p>{% trans 'accounting, law and consulting firms; and' %}</p>
        </li>
        <li>
            <p>{% trans 'Educational institutions and trade associations.' %}</p>
        </li>
    </ol>
    <p>{% trans 'We will approve link requests from these organizations if we decide that: (a) the link would not make us look unfavorably to ourselves or to our accredited businesses; (b) the organization does not have any negative records with us; (c) the benefit to us from the visibility of the hyperlink compensates the absence of Tiksss.com; and (d) the link is in the context of general resource information.' %}</p>
    <p>{% trans 'These organizations may link to our home page so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services; and (c) fits within the context of the linking party’s site.' %}</p>
    <p>{% trans 'If you are one of the organizations listed in paragraph 2 above and are interested in linking to our website, you must inform us by sending an e-mail to Tiksss.com. Please include your name, your organization name, contact information as well as the URL of your site, a list of any URLs from which you intend to link to our Website, and a list of the URLs on our site to which you would like to link. Wait 2-3 weeks for a response.' %}
    </p>
    <p>{% trans 'Approved organizations may hyperlink to our Website as follows:' %}</p>
    <ol>
        <li>
            <p>{% trans 'By use of our corporate name; or' %}</p>
        </li>
        <li>
            <p>{% trans 'By use of the uniform resource locator being linked to; or' %}</p>
        </li>
        <li>
            <p>{% trans 'By use of any other description of our Website being linked to that makes sense within the context and format of content on the linking party’s site.' %}</p>
        </li>
    </ol>
    <p>{% trans 'No use of Tiksss.com logo or other artwork will be allowed for linking absent a trademark license agreement.' %}</p>
    <h3>{% trans 'iFrames' %}:</h3>
    <p>{% trans 'Without prior approval and written permission, you may not create frames around our Webpages that alter in any way the visual presentation or appearance of our Website' %}.</p>
    <h3>{% trans 'Content Liability' %}:</h3>
    <p>{% trans 'We shall not be hold responsible for any content that appears on your Website. You agree to protect and defend us against all claims that is rising on your Website. No link(s) should appear on any Website that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights' %}.</p>
    <h3>{% trans 'Your Privacy' %}:</h3>
    <p>{% trans 'Please read Privacy Policy' %}</p>
    <h3>{% trans 'Reservation of Rights' %}:</h3>
    <p>{% trans 'We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately remove all links to our Website upon request. We also reserve the right to amen these terms and conditions and it’s linking policy at any time. By continuously linking to our Website, you agree to be bound to and follow these linking terms and conditions' %}.</p>
    <h3>{% trans 'Removal of links from our website' %}:</h3>
    <p>{% trans 'If you find any link on our Website that is offensive for any reason, you are free to contact and inform us any moment. We will consider requests to remove links but we are not obligated to or so or to respond to you directly' %}.</p>
    <p>{% trans 'We do not ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we promise to ensure that the website remains available or that the material on the website is kept up to date' %}.</p>
    <h3>{% trans 'Disclaimer' %}:</h3>
    <p>{% trans 'To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website. Nothing in this disclaimer will' %}:</p>
    <ol>
        <li>
            <p>{% trans 'limit or exclude our or your liability for death or personal injury;' %}</p>
        </li>
        <li>
            <p>{% trans 'limit or exclude our or your liability for fraud or fraudulent misrepresentation;' %}</p>
        </li>
        <li>
            <p>{% trans 'limit any of our or your liabilities in any way that is not permitted under applicable law; or' %}</p>
        </li>
        <li>
            <p>{% trans 'exclude any of our or your liabilities that may not be excluded under applicable law.' %}</p>
        </li>
    </ol>
    <p>{% trans 'The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty.' %}</p>
    <p>{% trans 'As long as the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.' %}</p>
</div>


{% endblock %}
